* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
body {
  background: #ffd89b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #19547b,
    #ffd89b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #19547b,
    #ffd89b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Itim", cursive;
}
.main {
  display: flex;
}
.navbar {
  width: 230px;
  height: 115vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 2px solid black;
  box-shadow: rgba(50 50 93 / 69%) 0px -50px 60px -12px inset, rgb(0 0 0 / 66%) 0px -36px 36px -18px inset
}
.navbar img {
  margin-top: 20px;
  cursor: pointer;
}
.navbar ul {
  margin-top: 120px;
}
.navbar li {
  padding-top: 50px;
  font-weight: 500;
  font-size: 18px;
}
.navbar ul li a {
  color: black;
}
.hrnavbar {
  border-bottom: 2px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px -30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px -18px 36px -18px inset;
}
.hrnavbar img {
  margin-top: 8px;
  width: 90px;
  margin-right: 20px;
  border-radius: 50%;
}
.form1 {
  border: 2px solid #ffffff;
  border-radius: 5%;
  background-color: #c1c4d8;
  position: absolute;
  top: 153px;
  left: 600px;
  height: 69%;
  width: 25%;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: 15px;
  padding: 10px;
}
label {
  margin-left: 10px;
}
.form1 input[type="text"],
.form1 input[type="number"] {
  width: 94%;
  height: 5%;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 10px;
  padding-left: 10px;
  border: 1px solid snow;
}
.form1 input[type="submit"] {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: rgb(36 42 134);
  font-weight: 600;
  display: block;
  margin: 10px auto;
  font-size: 15px;
  opacity: 0.9;
  color: white;
}
.form1 input[type="submit"]:hover {
  opacity: 1;
}
.form1 input[type="button"] {
  width: 130px;
  height: 30px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  display: block;
  margin: 20px auto;
  opacity: 0.9;
  color: white;
  background-color: coral;
}
.form1 input[type="button"]:hover {
  opacity: 1;
}
table {
  border-collapse: collapse;
  width: 60%;
  border: 1px solid black;
  position: absolute;
  top: 170px;
  left: 330px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.tr2:hover {
  box-shadow: inset 0 0 20px 1px rgb(122, 139, 151);
}
.edit {
  background-color: #4caf50;
  color: white;
  opacity: 0.9;
  cursor: pointer;
  border: none;
  padding: 5px;
  width: 50px;
  border-radius: 4px;
}
.edit:hover {
  opacity: 1;
}
.del {
  color: white;
  opacity: 0.9;
  cursor: pointer;
  border: none;
  background-color: #f44336;
  padding: 5px;
  width: 50px;
  border-radius: 4px;
}
.del:hover {
  opacity: 1;
}

th,
td {
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
.alert {
  position: absolute;
  top: 50px;
  left: 643px;
}
.details {
  position: absolute;
  top: 100px;
  left: 250px;
  width: 80%;
  height: 80%;
}
.btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 106px;
}
.circle {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #232323;
  margin: 0px 30px 0;
  margin-left: 71px;
}
.camera1,
.camera2 {
  width: 150px;
  height: 60px;
  color: #bdbdbd;
  background-color: #232323;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
}
.camera2 {
  margin-left: 25px;
}
.off {
  color: #e0312d;
  background-color: #ffffff;
  width: 140px;
  height: 60px;
  border: 2px solid #e0312d;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  margin-left: 268px;
}
.on {
  color: white;
  background-color: #7ed956;
  border-radius: 4px;
  width: 140px;
  height: 60px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-left: 22px;
}
.map {
  width: 54%;
  height: 55%;
  border-radius: 30px;
  margin-left: 68px;
  text-align: center;
  margin-top: 2px;
  background-color: #c9d8c3;
}
.map img {
  width: 42%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 656px;
  transform: rotate(-270deg);
  margin-top: -178px;
}
.speed,
.avgspeed,
.engstatus,
.fuelevel,
.temp {
  width: 308px;
  height: 140px;
  border-radius: 10px;
  background-color: #d9d9d9;
  display: inline-block;
  text-align: center;
  padding-top: 45px;
}
.speed {
  position: absolute;
  top: 110px;
  left: 762px;
}
.avgspeed {
  position: absolute;
  top: 285px;
  left: 762px;
}
.temp {
  position: absolute;
  top: 460px;
  left: 762px;
}
.engstatus {
  position: absolute;
  top: 460px;
  left: 71px;
}
.fuelevel {
  position: absolute;
  top: 460px;
  left: 414px;
}
.detname:visited {
  color: #0000ff;
}
